body {
    margin-top: 25px;
}

#hd {
    font-size: 70px;
    text-align: center;
    margin-bottom: 190px;
}

#title {
    margin-bottom: 270px;
}

#tt {
    font-size: 25px;
}

.ft {
    height: 10px;
}

#main {
    margin-left: 20%;
    margin-right: 20%;
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}